// Import Vuetify styles after variable overrides
@import "vuetify/styles";

@media only screen and (min-width: map-get($grid-breakpoints, "xl")) {
  .container {
    max-width: 1240px !important;
  }
}

// Your custom styles here
.date-container {
  border: 1px solid rgb(var(--v-theme-on-surface)) !important;
}

/* Individual date sections */
.date-day {
  font-size: 24px;
}

.date-month {
  font-size: 16px;
}

.date-year {
  font-size: 14px;
}
